.contact-header{
    background: url("https://images.pexels.com/photos/1552245/pexels-photo-1552245.jpeg?auto=compress&cs=tinysrgb&w=1200");
    background-size: cover;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-main{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    height: 50vh;
    gap: 50px;
}
.map{
    width: 30%;
    background: url("https://images.pexels.com/photos/38271/ipad-map-tablet-internet-38271.jpeg?auto=compress&cs=tinysrgb&w=400");
    background-size: cover;
    border-radius: 10px;
}
.contact-header h1{
    color: white;
    font-size: 40px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 30%
}
.form input{
        width: 100%;
        font-size: 16px;
        padding: 10px;
        border-radius: 50px;
        border: 1px solid grey;
}
.form textarea {
    width: 100%;
    padding: 15px;
    font-size: 16px;
}
.form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #dd3500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}